<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h5>
    This is index.html<br>
    Hello, ${user.getName()}<br>
    ===
    Hello, ${user.name}

    <#list items as item1>
    ${item1.value}<br>
    ${item1.name}<br>
    </#list>

</h5>

</body>
</html>
