<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h5>
    Hello, ${user}
    Hello, ${user}
    This is list of operations:<br>
</h5>

<div>
    <#list operations as operation>
    ${operation.getX()} / ${operation.y} //
    ${operation.x} / ${operation.y} //
    <form action="/delete" method="post">
        <input name="id" value=${operation.id} type="hidden">
        <input type="submit" value="Delete record">
    </form>

    <br>
    </#list>
</div>

</body>
</html>
